body { 
   background-color: rgba(113, 37, 130, 0.826);
   color:black;
   font-family: "lora",sans-serif;
   margin: 0px;
   margin-bottom: 100px; 
}

h1 { 
    font-size: 30px;
    text-align: center;
 }
 
 header { 
  border: solid 2px rgb black;
  font-size: 32px;
  padding: 10px;
  color: rgb(255, 168, 243);
 }

.chamada {
  background-color: rgb(135, 69, 163); /* cor escolhida */
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto{ 
   margin-right: 5%;
}

h1 { 
font-size: 30px;                  /*tamanho da fonte*/
text-align: center;               /*centralizado*/
text-transform: uppercase;        /*letras maiúscula*/
}

p{ 
   font-size: 16px;
   color: rgb(18, 8, 21);
}

.categoria {
   padding-left: 20px;   
   padding-right: 20px;
   margin-top: 50px;
}

.categoria-videos {
  display: flex;
  overflow: auto;
  gap: 10px;
}

.categoria-videos img{
  opacity: 0.5;
  height: 200px;
}

.categoria-videos img:hover {
   opacity: 1.0;
   border: 1px solid rgb(218, 82, 150);
}

.categoria h2 {
   color: rgb(112, 38, 112);
}
  