body { 
   background-color: blueviolet;
   color:blue;
   font-family: "lora",sans-serif;
   margin: 0px;
   margin-bottom: 100px; 
}

h1 { 
    font-size: 30px;
    text-align: center;
 }
 
 header { 
  border: solid 2px rgb red;
  font-size: 32px;
  padding: 10px;
  color: aquamarine;
 }

.chamada {
  background-color: aquamarine; /* cor escolhida */
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto{ 
   margin-right: 5%;
}

h1 { 
font-size: 30px;                  /*tamanho da fonte*/
text-align: center;               /*centralizado*/
text-transform: uppercase;        /*letras maiúscula*/
}

p{ 
   font-size: 16px;
   color: aquamarine;
}

.categoria {
   padding-left: 20px;   
   padding-right: 20px;
   margin-top: 50px;
}

.categoria-videos {
  display: flex;
  overflow: auto;
  gap: 10px;
}

.categoria-videos img{
  opacity: 0.5;
  height: 200px;
}

.categoria-videos img:hover {
   opacity: 1.0;
   border: 1px solid hotpink;
}

.categoria h2 {
   color: blueviolet;
}
  